<div class="container mt-5">
  <h2>Add Employee</h2>
  <form (ngSubmit)="addEmployee()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="employee.name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="employee.email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" [(ngModel)]="employee.phone" name="phone" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" id="salary" [(ngModel)]="employee.salary" name="salary" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2 mx-1">Add Employee</button>
    <a routerLink="/" class="btn btn-primary mt-2">Cancel</a>
  </form>
</div>
